<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="http://lapi.tangguowallet.com/paytrade/hcnotify">
<input type="text" name="paytrade/hcnotify" value="">
<input type="text" name="merchantOutOrderNo" value="HC36914285595">
<input type="text" name="merid" value="yft2018070200005">
<input type="text" name="msg" value='{"payMoney":"1.00"}'>
<input type="text" name="noncestr" value="dPIdgGvv">
<input type="text" name="orderNo" value="180712HC3691428559545360">
<input type="text" name="payResult" value="1">
<input type="text" name="sign" value="6ece6068eb3792b6a84ba540b8a464ce">
    <input type="submit" value="提交">
</form>
</body>
</html>