{php}
$templates = "[temp]";
$templates = explode(',',$templates);
if(count($templates) > 1){
    $viewArrs = [];
    $i = 0;
    $n = 0;
    foreach($templates as $tpl){
        $remainder = $i % 2;
        if($remainder == 0){
            $n++;
        }
        if(isset($menus->$tpl->hidden)&&in_array($menus->$tpl->hidden,[1,"hide","hidden"])){
            $i--;
            if($remainder == 0){
                $n--;
            }
        }
        $viewArrs[$n][] = $tpl;
        $i++;
    }

    foreach($viewArrs as $viewarr){
        echo '<div class="row-fluid">';
        foreach($viewarr as $template){
            $targetFile = $menus->$template->type;
            {/php}
            {switch targetFile}
            {case select4 }{include file="common/select4"/}{/case}
            {case select3 }{include file="common/select3"/}{/case}
            {case select2 }{include file="common/select2"/}{/case}
            {case select }{include file="common/select"/}{/case}
            {case textarea2 }{include file="common/textarea2"/}{/case}
            {case textarea }{include file="common/textarea"/}{/case}
            {case password }{include file="common/password"/}{/case}
            {case radio }{include file="common/radio"/}{/case}
            {default /}{include file="common/text"/}
            {/switch}
            {php}
        }
        echo "</div>";
    }
}else{
{/php}
{notempty name='templates'}
{php}$template = $templates[0];$targetFile = $menus->$template->type;echo '<div class="row-fluid">';{/php}
    {switch targetFile}
        {case select4 }{include file="common/select4"/}{/case}
        {case select3 }{include file="common/select3"/}{/case}
        {case select2 }{include file="common/select2"/}{/case}
        {case select }{include file="common/select"/}{/case}
        {case textarea2 }{include file="common/textarea2"/}{/case}
        {case textarea }{include file="common/textarea"/}{/case}
        {case password }{include file="common/password"/}{/case}
        {case radio }{include file="common/radio"/}{/case}
        {default /}{include file="common/text"/}
    {/switch}
    {php}echo "</div>";{/php}
{/notempty}
{php}
}
{/php}