<div class="box-footer">
    {if checkPower(url('delAll'))}<a class="btn btn-danger delall-confirm" data-url="{:url('delAll')}" href="javascript:;">批量删除</a>{/if}
    {if !empty($page)}
        {$page|raw}
    <label class="control-label pull-right" style="margin-right: 10px; font-weight: 100;">
        {if isset($total)}
        <small>共{$total}条记录</small>
        &nbsp;
        {/if}
        <small>每页显示</small>
        &nbsp;
        <select data-url="{:url('bs/index/setPageRow')}" class="input-sm" onchange="changePageRows(this)">
            {php}$showPageRows = Config('setting.page');{/php}
            {foreach $showPageRows as $pageOption}
            <option value="{$pageOption}" {if $pagerow == $pageOption} selected {/if} >{$pageOption}</option>
            {/foreach}
        </select>
        &nbsp;
        <small>条记录</small>
    </label>
    {/if}
</div>