<div class="form-group has-feedback">
    {php}echo $menus->$template->label;{/php}&nbsp;&nbsp;
    {if (isset($menus->$template->required)) AND ($menus->$template->required == true)}<span style="color:firebrick;size: 14px;"><b>*</b></span>{/if}：
    <input name="{php}echo $menus->$template->name;{/php}" type="password" class="form-control" placeholder="{php}echo $menus->$template->placeholder;{/php}" {if (isset($menus->$template->required)) AND ($menus->$template->required == true)}required=required{/if} />
    <span>{if isset($menus->$template->tip)}{$menus->$template->tip}{/if}</span>
</div>