<div class="col-md-{php}echo isset($menus->$template->size) && $menus->$template->size == 12  ? 12 : 6;{/php} {if !empty($menus->$template->hidden)} hide{/if}">
    <div class="control-group">
        <label class="control-label">{$menus->$template->label}{if !empty($menus->$template->required)} <span style="color:firebrick">*</span>{/if} :</label>
        <div class="controls">
            <div class="select2-wrapper">
                <input type="hidden" class="span6 select2_sample3" value="red, blue">
            </div>
        </div>

        <span>{if isset($menus->$template->tip)}{$menus->$template->tip}{/if}</span>
    </div>
</div>