<div class="span{php}echo isset($menus->$template->size) && $menus->$template->size == 12  ? 12 : 6;{/php} {if !empty($menus->$template->hidden)} hide{/if}">
    <div class="control-group">
        <label class="control-label">{$menus->$template->label}{if !empty($menus->$template->required)} <span style="color:firebrick">*</span>{/if} :</label>
        <div class="controls">
            <select class="m-wrap span12" id="{$menus->$template->name}" name="{$menus->$template->name}" {if !empty($menus->$template->required)}required{/if}>
                <option value="">请选择</option>
                {php}
                if(!empty($menus->$template->data)){
                foreach($menus->$template->data as $key=>$value){
                {/php}
                <option value="{$key}">{$value}</option>
                {php}
                }}
                {/php}
            </select>
            <span class="help-block">{if isset($menus->$template->tip)}{$menus->$template->tip}{/if}</span>
        </div>
    </div>
</div>