<div class="form-group has-feedback">
    {php}echo $menus->$filetype->label;{/php}&nbsp;&nbsp;
    {if (isset($menus->$filetype->required)) AND ($menus->$filetype->required == true)}<span style="color:firebrick;size: 14px;"><b>*</b></span>{/if}：
    <input name="{php}echo $menus->$filetype->name;{/php}" type="text" class="form-control" placeholder="{php}echo $menus->$filetype->placeholder;{/php}" {if (isset($menus->$filetype->required)) AND ($menus->$filetype->required == true)}required=required{/if} />
    <span class="fa fa-envelope form-control-feedback"></span>
</div>

