<div class="span{php}echo isset($menus->$template->size) && $menus->$template->size == 12  ? 12 : 6;{/php} {if !empty($menus->$template->hidden)} hide{/if}">
    <div class="control-group">
        <label class="control-label">{$menus->$template->label}
            {if (isset($menus->$template->required)) AND ($menus->$template->required == true)}<span style="color:firebrick;size: 14px;"><b> * </b></span>{/if}：</label>
        <div class="controls">
            <input class="m-wrap span12" id="{$menus->$template->name}" name="{$menus->$template->name}" type="text" class="form-control" placeholder="{php}echo $menus->$template->placeholder;{/php}" {if (isset($menus->$template->required)) AND ($menus->$template->required == true)}required=required{/if} />
            <span class="help-block">{if isset($menus->$template->tip)}{$menus->$template->tip}{/if}</span>
        </div>
    </div>
</div>
