<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {load href="/plugins/font-awesome/css/font-awesome.min.css" /}
    {load href="/css/ionicons.min.css" /}
    {load href="/dist/css/adminlte.min.css" /}
    {load href="/plugins/iCheck/square/blue.css" /}
    {load href="/css/googleapi-fonts.css" /}
    {block name="headcss"}{/block}
    {load href="/plugins/jquery/jquery.min.js" /}
    {load href="/plugins/bootstrap/js/bootstrap.bundle.min.js" /}
    {block name="headjs"}{/block}
</head>

<body class="hold-transition {block name='bodyclass'}sidebar-mini{/block}">
{block name="content"}

{/block}
{block name='footjs'}
{/block}
</body>
</html>